@{
    ViewData["Title"] = "Dishes";
}

<div class="container">
    <section class="row header">
        <div>
            <h2>CANBERRA RESTAURANTS</h2>
            <h1>@ViewData["Title"]</h1>
        </div>
    </section>
    <section class="row">
        <div class="dishes_selector col-xs-12" id="dishes_holder"></div>

    </section>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $ = jQuery.noConflict();
        $("#dishes_holder").elastic_grid({
            'filterEffect': 'popup',
            'hoverDirection': true,
            'hoverDelay': 0,
            'hoverInverse': false,
            'expandingSpeed': 500,
            'expandingHeight': 500,
            'items':
            [
                // USE THIS STRUCTURE, YOU CAN'T MAKE UP YOUR OWN
                /* {
                    'title': 'Jewel of India',
                    'description': '<h4>India is synonymous with curries. They have such a range of different flavoured, coloured and spicy curries. So much to try!</h4>',
                    'thumbnail': ['/images/jewel_small.jpg'],
                    'large'         : ['/images/jewel1.jpg'],
                    'button_list'   :
                    [
                        { 'title': 'Visit Website', 'url': 'http://www.jewelofindia.com.au/', 'new_window': true },
                    ],
                    'tags'          : ['Indian']
                } */
                {
                    'title': '<h2>Italian and Sons</h2><br><br> <a href="#">More Details</a>',
                    'description': '<p>"A casual Italian trattoria that specialises in wood fried pizzas such as Rucola with Prosciutto di Parma, rucola & reggiano. Don\'t miss daily changing main dishes of the day such as their wood roast suckling pig, rosemary, garlic, baked baby fennel & mustard fruits." - Australian Good Food Guide</p>',
                    'thumbnail': ['../images/elastic_grid/lq/is_thumbnail.jpg'],
                    'large': ['../images/elastic_grid/is.jpg', ""],
                    'button_list':
                    [
                        { 'title': 'Visit Website', 'url': 'https://italianandsons.com.au/', 'new_window': true },
                    ],
                    'tags': ['Pizza']
                },
                {
                    'title': '<h2>Jamie\'s Italian</h2><br><br> <a href="#">More Details</a>',
                    'description': '<p>"With prime position in the Canberra Centre on Bunda Street, Jamie\'s Italian is the perfect place for a mid-shopping pit stop, or a buzzing evening out. With beautiful room- height windows and impressive lofty ceilings, the restaurant is full of atmosphere." - Jamie\'s Website</p>',
                    'thumbnail': ['../images/elastic_grid/lq/jamies_thumbnail.jpg'],
                    'large': ['../images/elastic_grid/jamies.jpg', ""],
                    'button_list':
                    [
                        { 'title': 'Visit Website', 'url': 'https://www.jamieoliver.com/italian/australia/', 'new_window': true },
                    ],
                    'tags': ['Pasta']
                },
                {
                    'title': '<h2>Chairman & Yip</h2><br><br> <a href="#">More Details</a>',
                    'description': '<p>"The Chairman & Yip has become one of Canberra\'s longest standing and most highly regarded insitutions, having recieved numerous awards over the years, offering an ever consistent and professional quality of service for corporate dining, conferences and presentations" - Chairman & Yip Website</p>',
                    'thumbnail': ['../images/elastic_grid/lq/chairman_yip_thumbnail.jpg'],
                    'large': ['../images/elastic_grid/chairman_yip.jpg', ""],
                    'button_list':
                    [
                        { 'title': 'Visit Website', 'url': 'http://chairmangroup.com.au/thechairmanhk/', 'new_window': true },
                    ],
                    'tags': ['Dumplings']
                },
                {
                    'title': '<h2>Dickson Asian Noodle House</h2><br><br> <a href="#">More Details</a>',
                    'description': '<p>"The Dickson Asian Noodle Houses specialises in traditional Malaysian, Thai and Lao cuisine. The dining atmosphere is casual and cosy providing for a la carte dining, banquets and take away." - Vibe FM Website</p>',
                    'thumbnail': ['../images/elastic_grid/lq/dickson_noodle_thumbnail.jpg'],
                    'large': ['../images/elastic_grid/dickson_noodle.jpg', ""],
                    'button_list':
                    [
                        { 'title': 'Visit Website', 'url': 'https://www.facebook.com/pages/Dickson-Asian-Noodle-House/156690017692038?ref=br_rs', 'new_window': true },
                    ],
                    'tags': ['Laksa']
                },
                {
                    'title': '<h2>Blu Ginger</h2><br><br> <a href="#">More Details</a>',
                    'description': '<p>"At Blu Ginger we use only the freshest locally sourced produce, combined with authentic spices imported directly from the sub-continent, to offer classic, traditional recipes with a mordern twist, creating a unique and memorable dining expereince for you." - Blu Ginger Website</p>',
                    'thumbnail': ['../images/elastic_grid/lq/bluginger_thumbnail.jpg'],
                    'large': ['../images/elastic_grid/bluginger.jpg', ""],
                    'button_list':
                    [
                        { 'title': 'Visit Website', 'url': 'http://www.bluginger.com.au/', 'new_window': true },
                    ],
                    'tags': ['Curry']
                },
                {
                    'title': '<h2>Jewel of India</h2><br><br> <a href="#">More Details</a>',
                    'description': '<p>"Finding a balance between dishes inspired by authentic recipes and creating a modern take on classic cuisine sees a loyal following of Canberra locals returning for a mouth-watering feast." - Australian Good Food Guide Website</p>',
                    'thumbnail': ['../images/elastic_grid/lq/jewel_thumbnail.jpg'],
                    'large': ['../images/elastic_grid/jewel.jpg', ""],
                    'button_list':
                    [
                        { 'title': 'Visit Website', 'url': 'https://jewelofindia.com.au/', 'new_window': true },
                    ],
                    'tags': ['Curry']
                }
            ]
        });
    });
</script>
