@{
    ViewData["Title"] = "Reviews";
}

<div class="container">
    <section class="row header">
        <div>
            <h2>CANBERRA RESTAURANTS</h2>
            <p>Coming soon... in Assignment 2</p>
            <h1>@ViewData["Title"]</h1>
        </div>
    </section>
</div>
